.cards-stack {
	--space: 3vh;
	--cards: 0;
	--card-height: 50vh;
    display: flex;
	position: relative;
	min-height: calc(60vh + var(--space) * var(--cards));
} 

.cards-stack-item {
	position: absolute;
	// transition: ease-out 200ms transform;
	top: calc(var(--space) * var(--index));
	transform: translateX(calc(-50%));
	transform-origin: bottom left;
	left: 50%;
	order: var(--index);

	img {
		border-radius: 2vh;
		overflow: hidden;
		height: var(--card-height);
		max-width: unset;
	}

	&.active {
		transform: translateX(-50%);
		transition: ease-out 200ms transform;
	}

	&.active ~ .cards-stack-item {
		// z-index: 100;
		left: 50%;
		transform: translateY(60%) translateX(-50%);
		transform-origin: bottom left;
		transition: ease-out 200ms transform;
	}
}