

.cards-stack {
	--space: 3vh;
	--cards: 0;
	--card-height: 50vh;
	position: relative;
    min-height: calc(60vh + var(--space) * var(--cards));
}

.cards-stack-item {	

	position: absolute;
	top: calc(var(--space) * var(--index));
	transition: ease-out 200ms transform;
	
	transform: translateX(calc(-50%)) rotateZ(-2deg);
	transform-origin: bottom left;

	// transform: translateY(60%) translateX(calc(var(--distance) * 10% - 50%));
    left: 50%;

	img {
		border-radius: 2vh;
		overflow: hidden;
		height: var(--card-height);
		max-width: unset;
	}

	&.active {
		transform: translateX(-50%);
	}

	&.active ~ .cards-stack-item {
		// z-index: 100;
		left: 50%;
		transform: translateY(60%) translateX(-50%) rotateZ(calc(var(--index) * 2deg));
		transform-origin: bottom left;
	}
}