/**
 * Site header
 */
.site-header {
	border-top: 4px double #ffc100;
	// border-bottom: 4px double #ffc100;
	// max-height: 64px;
	// Positioning context for the mobile navigation icon
	position: relative;
	// background-color: #e5e5f7;
	padding: 32px 0;

	@include media-query($on-laptop) {
        padding: 3vw 0;
	}

	.wrapper {
		display: flex;
		align-items: center;
		padding-left: 0;
		padding-right: 0;
	}
}

.site-title {
	font-size: 160px;
	font-family: "PT Serif";
	font-weight: 300;
	color: black;
	// line-height: $base-line-height * $base-font-size * 2.25;
	letter-spacing: 100px;
	padding-left: 24px;
	margin-bottom: 0;
	float: left;
    line-height: 1;
    text-align: center;
    width: 100%;

	@include media-query($on-laptop) {
        font-size: 14vw;
        letter-spacing: 10vw;
        padding-left: 6vw;
	}

	&:hover {
		text-decoration: none;
	}

	&,
	&:visited {
		color: black;
	}
}

.site-logo {
	height: 60px;
}

.site-nav {
	margin-left: auto;
	line-height: $base-line-height * $base-font-size * 2.25;

	.nav-trigger {
		display: none;
	}

	.menu-icon {
		display: none;
	}

	.page-link {
		color: black;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the last one
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	@include media-query($on-palm) {
		position: absolute;
		top: 9px;
		right: $spacing-unit * 0.5;
		background-color: $background-color;
		border: 1px solid $grey-color-light;
		border-radius: 5px;
		text-align: right;

		label[for="nav-trigger"] {
			display: block;
			float: right;
			width: 36px;
			height: 36px;
			z-index: 2;
			cursor: pointer;
		}

		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				fill: $grey-color-dark;
			}
		}

		input ~ .trigger {
			clear: both;
			display: none;
		}

		input:checked ~ .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			display: block;
			margin-left: 20px;
			padding: 5px 10px;

			&:not(:last-child) {
				margin-right: 0;
			}
		}
	}
}

/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $grey-color-light;
	padding: $spacing-unit 0;
}

.footer-heading {
	@include relative-font-size(1.125);
	margin-bottom: $spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
}

.footer-col-wrapper {
	@include relative-font-size(0.9375);
	display: flex;
	color: $grey-color;
	margin-left: -$spacing-unit * 0.5;
	padding: 20px;
	@extend %clearfix;
}
@include media-query($on-palm) {
	.footer-col-wrapper {
		flex-direction: column;
	}
}

/**
 * Page content
 */
.page-content {
	padding: $spacing-unit 0;
	flex: 1;
}

.page-heading {
	@include relative-font-size(2);
}

.post-list-heading {
	@include relative-font-size(1.75);
}

.post {
}

.post-list {
	margin-left: 0;
	list-style: none;
	// text-align: right;
	// border: 9px double #FFC100;

	> li {
		margin-bottom: 16px;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $grey-color;
}

a.post-link {
	text-transform: uppercase;
	display: block;
	color: black;
	letter-spacing: 8px;

	h1 {
		white-space: nowrap;
	}

	&:hover {
		text-decoration: none;
		background-color: #f8e92e;

		h1 {
			// border-color: yellow;
		}
	}

	&:visited {
	}
}

/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	// @include relative-font-size(8);
	text-transform: uppercase;
}

.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		@include relative-font-size(2);

		@include media-query($on-laptop) {
			@include relative-font-size(1.75);
		}
	}

	h3 {
		@include relative-font-size(1.625);

		@include media-query($on-laptop) {
			@include relative-font-size(1.375);
		}
	}

	h4 {
		@include relative-font-size(1.25);

		@include media-query($on-laptop) {
			@include relative-font-size(1.125);
		}
	}
}

.flex-section {
	display: flex;
	gap: 16px;

	@include media-query($on-palm) {
		flex-direction: column;
	}
}

.reket-video {
	width: 360px;
    margin-top: -50px;
    margin-left: -50px;

	@include media-query($on-palm) {
		margin: auto;
		width: 100%;
		order: -1;
	}
}